.jumbotron-hero
{
    /* Choisis la hauteur ici */
    height: 900px;
  
    /* Tu lui donnes une image de background */
    background-image: url("img/Photo_ombres.jpg");
  
    /* Centre l'image et la met bien sur tous les écrans */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Marges interieures */
    padding-top: 200px;
    padding-right: 400px;
    padding-left: 400px;
  }

  .about-section
  {
    height: 900px;
    padding: 5rem 0;
  }
  .actu-section
  {
    height: 900px;
    padding: 10rem 0;
  }
